p {
  margin: 0 !important;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  border-radius: 30px;
  padding: 1rem;
  transition: 0.3s;
  background-color: white;
  height: fit-content;
}

.cardContainer:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  transform: scale(1.01);
}

.cardImageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carBrand {
  font-size: 1.3rem;
  font-weight: 700;
}

.carModel {
  font-size: 0.9rem;
  font-style: italic;
}

.carPricePerDayContainer {
  margin-top: 2rem !important;
  text-align: right;
}

.carPricePerDay {
  font-size: 1.5rem;
  font-weight: 700;
}
