:root {
  --side-padding: 4rem;
}

.separatorLine {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  opacity: 0.5;
  margin: 10px 0;
}

.searchPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.upperSearchPage {
  display: flex;
  margin-top: 70px;
  width: 100%;
  padding: 0 var(--side-padding);
  flex: 0 0 calc(17% - 70px);
  gap: 1%;
}

.contentSearchPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 0 0 83%;
}

.upperFilterContainer {
  flex: 0 0 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upperFilters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  height: 80%;
}

.upperFilters > div:first-child {
  border-left: none;
}

.upperFilters > div {
  flex: 0 0 25%;
  padding: 0 3%;
  border-left: 1px solid #ccc;
}

.upperFilters > div > label {
  font-size: 1.3rem;
  font-weight: 500;
}

.upperFilters > div > input {
  font-size: 1.3rem;
  border: none;
}

.upperFilters > div > input:focus-visible {
  outline: none;
}

.upperFilterButtonContainer {
  flex: 0 0 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upperFilterButtonContainer > button {
  width: 100%;
  border-radius: 20px;
  height: 75%;
}

.inputUpperFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectUpperFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectUpperFilter > label {
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 4px;
}

.selectUpperFilter > select {
  font-size: 1.3rem;
  border: none;
}

.selectUpperFilter > select:focus-visible {
  outline: none;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0;
}

.sideFiltersSection {
  margin-top: 1rem;
}

.sideFiltersSection > span {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.sideFilterContainer {
  flex: 0 0 20%;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.3rem;
}

.clearAllFilters {
  font-size: 0.9rem;
  font-weight: 500;
  color: #707070;
  cursor: pointer;
}

.sideFilterHeader {
  display: flex;
  font-size: 1.3rem;

  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}

.yearRangeContainer {
  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 1rem;
}

.priceRangeContainer {
  display: flex;
  justify-content: center;
  height: 150px;
}

.contentContainer {
  flex: 0 0 77%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  overflow-y: auto;
}

.contentContainer > span {
  font-size: 1.3rem;
  font-weight: 500;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 3%;
  column-gap: 1%;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 100%;
  padding-top: 1%;
}

.bottomSpaceCard {
  height: 40%;
  width: 100%;
}
