.menuSidebarWrapper {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(5px);
  padding: 1rem;
}

.menuSidebarClose {
  font-size: 1.3em;
  width: 30px;
  aspect-ratio: 1;
  text-align: center;
  color: white;
}

.menuSidebar {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 50%;
  padding-top: 1rem;
}

.menuSidebarItem {
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.menuSidebarClose:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in-out;
}

.menuSidebarItem:hover {
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}

.menuSidebar i {
  font-size: 1rem;
}

.menuSidebar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.menuSidebar a.active {
  color: white;
}
