section {
  height: 100vh;
}

.customContainer {
  padding: 0 50px;
}

section.halfSection {
  height: 50vh;
}

.titleSection {
  padding-left: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
  flex: 0 0 10%;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.titleSection::before {
  content: "";
  width: 3rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

/* JUMBO HERO SECTION */

.jumboWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.jumboVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.jumboWrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.jumboContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  color: white;
  position: relative;
  z-index: 2;
  height: 100%;
}

.upperSectionWrapper {
  margin-top: 70px;
  padding: 3rem 1rem 1rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upperSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.upperLeftSection {
  display: flex;
  flex: 0 0 60%;
  gap: 10px;
}

.upperSectionTitles {
  display: flex;
  flex-direction: column;
}

.separatorLine {
  width: 500px;
  height: 1px;
  margin-top: 11px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sloganSection {
  display: flex;
  flex-direction: column;
  padding-left: calc(5px + 9vw);
  padding-bottom: 2rem;
  font-size: min(calc(1rem + 8vw), 5rem);
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 80px;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.upperRightSection {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
}

.jumboLowerButton {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.8);
  gap: 1rem;
  cursor: pointer;
}

.jumboLowerButton > span {
  font-size: 1.4rem;
  padding: 1rem;
}

.jumboStopButton {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 60px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  font-size: 1.3rem;
  right: 40px;
  bottom: 90px;
}

.jumboStopButton:hover {
  cursor: pointer;
  border-color: white;
  color: white;
}

.jumboStopButton:active {
  transform: scale(0.98);
}

/* BRANDS SECTION */

.brandsSectionWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.upper_brandsSection {
  display: flex;
  justify-content: center;
  flex: 0 0 65%;
  height: 100%;
  overflow: hidden;
  gap: 10%;
  position: relative;
}

.lower_brandsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
}

.description_brandsSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  flex: 0 0 40%;
}

.description_brandSection_wrapper {
  width: 75%;
}

.content_description_brandsSection {
  width: 100%;
}

.content_description_brandsSection > span {
  font-size: 1.8rem;
}

.pattern_brandsSection {
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 40%;
  background-image: url(/src/assets/img/pattern.png);
  height: 70%;
  background-position: center;
  mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
}

.main_image_brandsSection {
  position: absolute;
  height: 45vh;
  right: -400px;
  bottom: 0;
}

.title_description_brandsSection > h2 {
  font-size: 6rem;
  font-weight: 700;
}

.title_description_brandsSection > span {
  font-size: 2rem;
  font-weight: 500;
}

.brandsWrapper_brandsSection {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

.logoCard_brandsSection {
  border-radius: 10px;
  flex-basis: 7%;
  aspect-ratio: 1;
  cursor: pointer;
  filter: grayscale(1);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.logoCard_brandsSection.selected {
  filter: grayscale(0);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.logo_brandsSection {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ABOUT US SECTION */

.aboutUsSectionWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.upper_aboutUsSection {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 65%;
  height: 100%;
}

.lower_aboutUsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
}

.description_aboutUsSection {
  width: 80%;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description_aboutUsSection > span {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.7);
}

.description_aboutUsSection > span > strong {
  color: black;
}

.subDescriptionContainer_aboutUsSection {
  display: flex;
  justify-content: flex-end;
  gap: 1%;
  color: rgba(0, 0, 0, 0.7);
}

.subDescriptionSeparatorLine_aboutUsSection {
  height: 1px;
  flex: 0 0 59%;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 1rem;
}

.subDescription_aboutUsSection {
  font-size: 1.2rem;
  flex: 0 0 40%;
}

/* CUSTOMER SERVICE SECTION */

.customerServiceSectionWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.content_customerServiceSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 85%;
  gap: 40px;
}

.image_customerServiceSection {
  flex: 0 0 50%;
  overflow: hidden;
  position: relative;
}

.image_customerServiceSection > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.description_customerServiceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 40%;
  height: 30vw;
}

.titleDescription_customerServiceSection {
  width: 70%;
  font-weight: 700;
}

.titleDescription_customerServiceSection > h2 {
  font-size: calc(2vw + 5px);
  line-height: 70px;
}

.contentDescription_customerServiceSection {
  width: 70%;
}

.contentDescription_customerServiceSection > span {
  font-size: calc(1vw + 2px);
  color: rgba(0, 0, 0, 0.7);
}

/* CONTACT US SECTION */

.contactUsSectionWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.content_contactUsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 85%;
}

.leftContent_contactUsSection {
  flex: 0 0 30%;
  height: 100%;
}

.rightContent_contactUsSection {
  flex: 0 0 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leftContentWrapper_contactUsSection {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  height: 100%;
}

.rightContentWrapper_contactUsSection {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
}

.rightContentAddress_contactUsSection,
.rightContentContact_contactUsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%;
}

.rightContentAddress_contactUsSection > small,
.rightContentContact_contactUsSection > small,
.rightContentSocialWrapper_contactUsSection > small {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}

.contactUsInfo_contactUsSection {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

.rightContentBackToTop_contactUsSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  flex: 0 0 50%;
}

.backToTop_contactUsSection {
  border: 1px solid black;
  border-radius: 50%;
  height: 60px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.backToTop_contactUsSection:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.rightContentSocial_contactUsSection {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rightContentSocialWrapper_contactUsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socialIcons_contactUsSection {
  display: flex;
  gap: 1rem;
}

.socialIcons_contactUsSection > i {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  height: 40px;
  aspect-ratio: 1;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.socialIcons_contactUsSection > i:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: all 0.2s ease;
}
