section {
  height: 100vh;
  overflow: hidden;
}

/* JUMBO HERO SECTION */

.jumboWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.jumboVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.jumboWrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.jumboContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  color: white;
  position: relative;
  z-index: 2;
  height: 100%;
}

.upperSectionWrapper {
  margin-top: 70px;
  padding: 3rem 1rem 1rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upperSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.upperLeftSection {
  display: flex;
  flex: 0 0 60%;
  gap: 10px;
}

.upperSectionTitles {
  display: flex;
  flex-direction: column;
}

.separatorLine {
  width: 500px;
  height: 1px;
  margin-top: 11px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sloganSection {
  display: flex;
  flex-direction: column;
  padding-left: calc(5px + 9vw);
  padding-bottom: 2rem;
  font-size: min(calc(1rem + 8vw), 5rem);
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 80px;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.upperRightSection {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
}

.jumboLowerButton {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.8);
  gap: 1rem;
}

.jumboLowerButton > span {
  font-size: 1.4rem;
  padding: 1rem;
}

.jumboStopButton {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 60px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  font-size: 1.3rem;
  right: 40px;
  bottom: 90px;
}

.jumboStopButton:hover {
  cursor: pointer;
  border-color: white;
  color: white;
}

.jumboStopButton:active {
  transform: scale(0.98);
}

/* BRANDS SECTION */

.brandsSectionWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.upper_brandsSection {
  display: flex;
  justify-content: center;
  flex: 0 0 70%;
  height: 100%;
  overflow: hidden;
  gap: 10%;
  position: relative;
}

.lower_brandsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
}

.description_brandsSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  flex: 0 0 40%;
}

.description_brandSection_wrapper {
  width: 75%;
}

.content_description_brandsSection {
  width: 100%;
}

.content_description_brandsSection > span {
  font-size: 1.8rem;
}

.pattern_brandsSection {
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 40%;
  background-image: url(/src/assets/img/pattern.png);
  height: 70%;
  background-position: center;
  mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
}

.main_image_brandsSection {
  position: absolute;
  height: 70%;
  right: -15%;
  bottom: 0;
}

.title_description_brandsSection > h2 {
  font-size: 6rem;
  font-weight: 700;
}

.title_description_brandsSection > span {
  font-size: 2rem;
  font-weight: 500;
}

.brandsWrapper_brandsSection {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

.logoCard_brandsSection {
  border-radius: 10px;
  flex-basis: 7%;
  aspect-ratio: 1;
  cursor: pointer;
  filter: grayscale(1);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.logoCard_brandsSection.selected {
  filter: grayscale(0);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.logo_brandsSection {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
